<!DOCTYPE html>
<html lang="en">

<head>
    <title>AutoUOC</title>
    <%- include('../partials/head.ejs') %>
</head>

<body data-theme="cupcake" data-barba="wrapper" class="bg-base-300 p-12 pt-6">

    <%- include('../partials/nav.ejs') %>

    <main data-barba="container" data-barba-namespace="home" class="flex">

        <div class="mr-12 flex-grow">
            <div class="card shadow-lg mb-12 bg-base-100">
                <div class="card-body text-neutral">
                    <h2 class="card-title text-secondary">Unclaimed Orders</h2>

                    <% for (const order of orders.filter(e => e.status === 'unclaimed')) { %>
                        <div class="collapse border-b border-t border-base-300 collapse-arrow text-neutral w-full">
                            <input type="checkbox">
                            <div class="collapse-title text-md font-medium">
                                Order for <%- order.customer %>
                            </div>
                            <div class="collapse-content">
                                <div class="flex justify-between text-sm mb-2">
                                    <p>Posted on <%- order.posted %></p>
                                    <a class="btn btn-accent btn-xs" href="<%- order.link %>">View Post</a>
                                </div>
                                <div class="card lg:card-side border bg-base-100">
                                    <div class="bg-base-200 p-4 border-r-2 border-base-300">
                                        <p class="font-bold"><%- order.customer %></p>
                                        <div class="avatar">
                                            <div class="w-24 h-24">
                                                <img src="//cdn2.scratch.mit.edu/get_image/user/4473746_90x90.png">
                                            </div>
                                        </div>
                                        <p>Scratcher</p>
                                    </div>
                                    <div class="card-body flex p-0">
                                        <div class="bg-base-100 flex-grow p-4">
                                            <%- order.posts[0].content.html %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="card shadow-lg mb-12 bg-base-100">
                <div class="card-body text-neutral">
                    <h2 class="card-title text-accent">Claimed Orders</h2>

                    <% for (const order of orders.filter(e => e.status === 'claimed')) { %>
                        <div class="collapse border-b border-t border-base-300 collapse-arrow text-neutral w-full">
                            <input type="checkbox">
                            <div class="collapse-title text-md font-medium">
                                Order for BGMead
                            </div>
                            <div class="collapse-content">
                                <div class="flex justify-between text-sm mb-2">
                                    <p>Posted on Sat Jul 10 23:00:31 EST</p>
                                    <p class="btn btn-accent btn-xs">View Post</p>
                                </div>
                                <div class="card lg:card-side border bg-base-100">
                                    <div class="bg-base-200 p-4 border-r-2 border-base-300">
                                        <p class="font-bold">BGMead</p>
                                        <div class="avatar">
                                            <div class="w-24 h-24">
                                                <img src="//cdn2.scratch.mit.edu/get_image/user/4473746_90x90.png">
                                            </div>
                                        </div>
                                        <p>Scratcher</p>
                                    </div>
                                    <div class="card-body flex p-0">
                                        <div class="bg-base-100 flex-grow p-4">
                                            hi
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

            <div class="card shadow-lg mb-12 bg-base-100">
                <div class="card-body text-neutral">
                    <h2 class="card-title text-primary">Completed Orders</h2>

                    <% for (const order of orders.filter(e => e.status === 'finished')) { %>
                        <div class="collapse border-b border-t border-base-300 collapse-arrow text-neutral w-full">
                            <input type="checkbox">
                            <div class="collapse-title text-md font-medium">
                                Order for <%- order.customer %>
                            </div>
                            <div class="collapse-content">
                                <div class="flex justify-between text-sm mb-2">
                                    <p>Posted on <%- order.posted %></p>
                                    <a class="btn btn-accent btn-xs" href="<%- order.link %>">View Post</a>
                                </div>
                                <div class="card lg:card-side border bg-base-100">
                                    <div class="bg-base-200 p-4 border-r-2 border-base-300">
                                        <p class="font-bold"><%- order.customer %></p>
                                        <div class="avatar">
                                            <div class="w-24 h-24">
                                                <img src="//cdn2.scratch.mit.edu/get_image/user/4473746_90x90.png">
                                            </div>
                                        </div>
                                        <p>Scratcher</p>
                                    </div>
                                    <div class="card-body flex p-0">
                                        <div class="bg-base-100 flex-grow p-4">
                                            <%- order.posts[0].content.html %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>


        <div class="sticky right-0 top-12 h-screen pb-24 w-1/3">
            <div class="card shadow-2xl lg:card-side bg-primary text-primary-content h-full">
                <div class="card-body">
                    <h1 class="font-bold text-3xl">BGMead's Shop</h1>
                    <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos.</p>

                    <div class="stats shadow w-full my-6">
                        <div class="stat place-items-center place-content-center flex items-center flex-col">
                            <div class="stat-title">Unclaimed</div>
                            <div class="stat-value text-error"><%- orders.filter(e => e.status === 'unclaimed').length %></div>
                        </div>
                        <div class="stat place-items-center place-content-center flex items-center flex-col">
                            <div class="stat-title">Claimed</div>
                            <div class="stat-value text-warning"><%- orders.filter(e => e.status === 'claimed').length %></div>
                        </div>
                        <div class="stat place-items-center place-content-center flex items-center flex-col">
                            <div class="stat-title">Completed</div>
                            <div class="stat-value text-success"><%- orders.filter(e => e.status === 'completed').length %></div>
                        </div>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <div class="justify-end card-actions">
                        <button class="btn btn-primary">
                            Visit Shop

                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                class="inline-block w-6 h-6 ml-2 stroke-current">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <%- include('../partials/footer.ejs') %>

    <script>
        barba.init({
            transitions: [{
                name: 'default-transition',
                leave() {
                    // create your stunning leave animation here
                },
                enter() {
                    // create your amazing enter animation here
                }
            }]
        });
    </script>
</body>

</html>